server:
  maxHttpHeaderSize: 8KB
  tomcat:
    maxHttpFormPostSize: 10240MB
    maxConnections: 2000
    maxParameterCount: 100000
spring:
  servlet:
    multipart:
      max-file-size: 10240MB
      max-request-size: 10240MB
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    # 读库和写库的地址，目前写库可以配置为一个，读库可配置为多个
    url: jdbc:mysql://47.94.201.245:3306/tagsystem?useSSL=false&serverTimezone=Asia/Shanghai&autoReconnect=true&characterEncoding=utf8
    username: root
    password: Keg2022!
    hikari:
      minimum-idle: 3
      maximum-pool-size: 10
      max-lifetime: 30000   #不能小于30秒，否则默认回到1800秒
path:
  taskBase: /data/tagsystem/%s
  finalTag: /data/tagsystem/%s/finalTag.json
  subTaskFile: /data/tagsystem/%s/%s.json
  escapeCheck: /data/tagsystem/%s/escape_check.json
  checked: /data/tagsystem/%s/checked.json
AlchemistPath:
  modelCodePath: /home/tz/copy-code/docker-pytorch-promote/
  checkpointPath: /home/tz/copy-code/docker-pytorch-promote/model/
  testDataPath: /home/tz/copy-code/docker-pytorch/input/
  customizeModeModelPath: /home/tz/copy-code/docker-pytorch/
  trainModelPath: /home/tz/copy-code/docker-pytorch-promote/model/
  customizeInterface: http://192.168.3.39:8081/eval_upload_model
  promoteInterface: http://192.168.3.39:8081/eval_promote_task
  trainInterface: http://192.168.3.39:8081/eval_train_task
  modelHelpInterface: http://192.168.3.39:8081/eval_model_help_task
  hgfInterface: http://192.168.3.39:8081/eval_hug_task
  compareInterface: http://192.168.3.39:8081/compare_predict_answer
  compareLLMInterface: http://192.168.3.39:8081/compare_predict_llm_answer
  compareTripleInterface: http://192.168.3.39:8081/compare_predict_answer_triple
  compareEventInterface: http://192.168.3.39:8081/compare_predict_answer_event
  stopTaskInterface: http://192.168.3.39:8081/task_killer
  llmTaskInterface: http://192.168.3.39:8081/eval_llm_task
  vllmTaskInterface: http://192.168.3.39:8081/eval_Vllm_task
  llmCalculateInterface: http://192.168.3.39:8081/llm_calculate
  grepTimeElapse: http://192.168.3.39:8081/grep_time_elapse


